In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
demographic = pd.read_csv('SDoH_Demographics.csv', dtype={'postal_code': 'string'}, on_bad_lines='skip')

C:\Users\A1053345\AppData\Local\Temp\ipykernel_7900\2826313935.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  demographic = pd.read_csv('SDoH_Demographics.csv', dtype={'postal_code': 'string'}, on_bad_lines='skip')

In [3]:
demographic.head()

,udp_global_id,client_id,age,gender,marital_status,is_union,primary_language_code,country_description,county,state,...,rehire_date,is_rehire,hire_date_calc_tenure,termination_date,base_pay_regular_payrate_amount,base_pay_regular_frequency_code,base_pay_regular_frequency_description,base_pay_regular_expectedannualsalary,base_pay_regular_expectedannualsalary_range,annual_benefits_base_rate
0,59ac761369b31258d1d3ba90,2524,41.0,F,S,N,AE,United States,NaN,VA,...,2022-11-04,Y,2022-11-04,2299-12-31,13.0,H1,Hourly,27040.0,"$20,000-$39,999",NaN
1,58b7f3d46125be582c125c8e,16717,57.0,M,S,N,NaN,United States of America,NaN,TN,...,NaN,N,1994-02-28,2299-12-31,43492.8,A1,Annual,43492.8,"$40,000-$59,999",43492.8
2,58c9ba0569b3124e0041609c,14470,32.0,M,S,N,NaN,United States of America,NaN,FL,...,NaN,N,NaN,2299-12-31,NaN,NaN,NaN,NaN,NaN,NaN
3,5d9e215ddab54b7a838c6b37,3979,25.0,F,S,N,NaN,United States of America,NaN,MO,...,NaN,N,NaN,2299-12-31,37648.0,A1,Annual,37648.0,"$20,000-$39,999",NaN
4,6132df2ec9ffdf2c8d5059ac,5790,40.0,M,M,N,NaN,United States of America,NaN,OH,...,NaN,N,2021-09-25,2299-12-31,47216.0,A1,Annual,47216.0,"$40,000-$59,999",47216.0

In [4]:
# client 3349 for AT&T

demographic = demographic[demographic['client_id'] == 3349]

demographic.head()

,udp_global_id,client_id,age,gender,marital_status,is_union,primary_language_code,country_description,county,state,...,rehire_date,is_rehire,hire_date_calc_tenure,termination_date,base_pay_regular_payrate_amount,base_pay_regular_frequency_code,base_pay_regular_frequency_description,base_pay_regular_expectedannualsalary,base_pay_regular_expectedannualsalary_range,annual_benefits_base_rate
38,58a38f42042fec2f0718169d,3349,76.0,M,M,N,NaN,United States of America,NaN,AZ,...,NaN,N,1969-01-06,2299-12-31,63318.6,A1,Annual,63318.6,"$60,000-$79,999",NaN
69,58a39a737f8f0502c9826b56,3349,53.0,M,M,N,NaN,United States of America,NaN,AR,...,NaN,N,2000-05-22,2299-12-31,91950.3,A1,Annual,91950.3,"$80,000-$99,999",NaN
71,58a38e3ff7a4410c1581e2ec,3349,81.0,M,M,N,NaN,United States of America,NaN,FL,...,NaN,N,1930-01-01,2299-12-31,NaN,NaN,NaN,NaN,NaN,NaN
93,58a3986af7a4410c15838455,3349,84.0,M,S,N,NaN,United States of America,NaN,TX,...,NaN,N,1959-03-09,2299-12-31,46000.0,A1,Annual,46000.0,"$40,000-$59,999",NaN
124,58a39a1a7f8f0502c982343a,3349,72.0,M,M,N,NaN,United States of America,NaN,MI,...,NaN,N,1978-09-21,2299-12-31,69582.6,A1,Annual,69582.6,"$60,000-$79,999",NaN

In [5]:
demographic.shape

(348950, 36)

In [7]:
demographic.shape

(348950, 36)

In [9]:
demographic['postal_code'].str.len().value_counts()

5    348947
Name: postal_code, dtype: Int64

In [7]:
#df = df[df['postal_code'].str.len() == 5]

demographic['postal_code'] = demographic['postal_code'].str[0:5]

# dropping any postal codes that are not length 5, could probably write logic here to capture the length 9 codes
# if they are simply the full code concat

In [8]:
demographic.head()

,udp_global_id,client_id,age,gender,marital_status,is_union,primary_language_code,country_description,county,state,...,rehire_date,is_rehire,hire_date_calc_tenure,termination_date,base_pay_regular_payrate_amount,base_pay_regular_frequency_code,base_pay_regular_frequency_description,base_pay_regular_expectedannualsalary,base_pay_regular_expectedannualsalary_range,annual_benefits_base_rate
38,58a38f42042fec2f0718169d,3349,76.0,M,M,N,NaN,United States of America,NaN,AZ,...,NaN,N,1969-01-06,2299-12-31,63318.6,A1,Annual,63318.6,"$60,000-$79,999",NaN
69,58a39a737f8f0502c9826b56,3349,53.0,M,M,N,NaN,United States of America,NaN,AR,...,NaN,N,2000-05-22,2299-12-31,91950.3,A1,Annual,91950.3,"$80,000-$99,999",NaN
71,58a38e3ff7a4410c1581e2ec,3349,81.0,M,M,N,NaN,United States of America,NaN,FL,...,NaN,N,1930-01-01,2299-12-31,NaN,NaN,NaN,NaN,NaN,NaN
93,58a3986af7a4410c15838455,3349,84.0,M,S,N,NaN,United States of America,NaN,TX,...,NaN,N,1959-03-09,2299-12-31,46000.0,A1,Annual,46000.0,"$40,000-$59,999",NaN
124,58a39a1a7f8f0502c982343a,3349,72.0,M,M,N,NaN,United States of America,NaN,MI,...,NaN,N,1978-09-21,2299-12-31,69582.6,A1,Annual,69582.6,"$60,000-$79,999",NaN

In [7]:
# just choosing some easy columns

# df = df[['client_id', 'age', 'postal_code', 'base_pay_regular_expectedannualsalary']]

In [10]:
df_zip19 = pd.read_csv('SDOH_2019_ZIPCODE_1_0 .csv', dtype={'ZIPCODE': 'string'})

In [11]:
df_zip19.head()

,YEAR,STATEFIPS,ZIPCODE,ZCTA,STATE,REGION,TERRITORY,POINT_ZIP,ACS_TOT_POP_WT_ZC,ACS_TOT_POP_US_ABOVE1_ZC,...,CDCP_NO_PHY_ACTV_ADULT_C_ZC,CDCP_PULMONARY_ADULT_C_ZC,POS_DIST_ED_ZP,POS_DIST_MEDSURG_ICU_ZP,POS_DIST_TRAUMA_ZP,POS_DIST_PED_ICU_ZP,POS_DIST_OBSTETRICS_ZP,POS_DIST_CLINIC_ZP,POS_DIST_ALC_ZP,CEN_AIAN_NH_IND
0,2019,2,99666,NaN,Alaska,West,0,1,NaN,NaN,...,NaN,NaN,134.02,134.02,158.58,495.26,134.02,101.75,134.02,NaN
1,2019,2,99841,NaN,Alaska,West,0,1,NaN,NaN,...,NaN,NaN,51.93,51.93,51.93,NaN,51.93,49.20,51.93,NaN
2,2019,2,99675,NaN,Alaska,West,0,1,NaN,NaN,...,NaN,NaN,209.98,210.08,211.62,210.08,209.98,38.97,210.73,NaN
3,2019,32,89023,NaN,Nevada,West,0,1,NaN,NaN,...,NaN,NaN,72.82,89.83,100.87,94.10,73.50,30.37,99.70,NaN
4,2019,41,97010,NaN,Oregon,West,0,0,NaN,NaN,...,NaN,NaN,16.76,16.76,25.34,29.23,16.76,12.49,24.05,NaN

In [12]:
# remove _ZP and _ZC characters from column names 
df_zip19 = df_zip19.rename(columns = lambda x : str(x)[:-3])

In [13]:
df_zip19 = df_zip19.rename(columns = {'ZIPC': 'ZIPCODE'})

In [14]:
#df_zip19.drop(['YEAR','STATEFIPS','ZCTA','STATE','REGION','TERRITORY','POINT_ZIP'], axis=1,inplace=True)

df_zip19.head()

,Y,STATEF,ZIPCODE,Z,ST,REG,TERRIT,POINT_,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,...,CDCP_NO_PHY_ACTV_ADULT_C,CDCP_PULMONARY_ADULT_C,POS_DIST_ED,POS_DIST_MEDSURG_ICU,POS_DIST_TRAUMA,POS_DIST_PED_ICU,POS_DIST_OBSTETRICS,POS_DIST_CLINIC,POS_DIST_ALC,CEN_AIAN_NH_
0,2019,2,99666,NaN,Alaska,West,0,1,NaN,NaN,...,NaN,NaN,134.02,134.02,158.58,495.26,134.02,101.75,134.02,NaN
1,2019,2,99841,NaN,Alaska,West,0,1,NaN,NaN,...,NaN,NaN,51.93,51.93,51.93,NaN,51.93,49.20,51.93,NaN
2,2019,2,99675,NaN,Alaska,West,0,1,NaN,NaN,...,NaN,NaN,209.98,210.08,211.62,210.08,209.98,38.97,210.73,NaN
3,2019,32,89023,NaN,Nevada,West,0,1,NaN,NaN,...,NaN,NaN,72.82,89.83,100.87,94.10,73.50,30.37,99.70,NaN
4,2019,41,97010,NaN,Oregon,West,0,0,NaN,NaN,...,NaN,NaN,16.76,16.76,25.34,29.23,16.76,12.49,24.05,NaN

In [15]:
df_zip19.tail()

,Y,STATEF,ZIPCODE,Z,ST,REG,TERRIT,POINT_,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,...,CDCP_NO_PHY_ACTV_ADULT_C,CDCP_PULMONARY_ADULT_C,POS_DIST_ED,POS_DIST_MEDSURG_ICU,POS_DIST_TRAUMA,POS_DIST_PED_ICU,POS_DIST_OBSTETRICS,POS_DIST_CLINIC,POS_DIST_ALC,CEN_AIAN_NH_
41068,2019,2,99923,99923.0,Alaska,West,0,0,14.0,14.0,...,17.9,6.4,75.54,75.54,217.58,NaN,75.54,74.61,127.32,0.0
41069,2019,2,99925,99925.0,Alaska,West,0,0,908.0,887.0,...,24.7,9.1,54.48,54.48,136.75,NaN,54.48,6.70,86.87,1.0
41070,2019,2,99926,99926.0,Alaska,West,0,0,1654.0,1637.0,...,26.1,9.2,16.24,16.24,198.70,NaN,16.24,14.75,127.84,1.0
41071,2019,2,99927,99927.0,Alaska,West,0,0,0.0,0.0,...,25.1,9.2,59.81,59.81,117.32,NaN,59.81,14.86,72.30,0.0
41072,2019,2,99929,99929.0,Alaska,West,0,0,2502.0,2466.0,...,22.9,8.4,0.43,0.43,119.14,NaN,0.43,0.13,31.35,1.0

In [16]:
df_zip19.shape

(41073, 355)

In [17]:
df = df_zip19[['ZIPCODE','ACS_PCT_UNINSURED','ACS_PCT_UNINSURED_BELOW64','ACS_PCT_MEDICAID_ANY','CDCP_ASTHMA_ADULT_C',
                          'ACS_PCT_MEDICAID_ANY_BELOW64','CDCP_NO_PHY_ACTV_ADULT_C','ACS_PCT_MEDICARE_ONLY',
                          'CDCP_PULMONARY_ADULT_C','CDCP_BLOOD_MED_ADULT_C','CDCP_CHOLES_ADULT_C','CDCP_ARTHRITIS_ADULT_C',
                          'POS_DIST_ED','POS_DIST_MEDSURG_ICU','POS_DIST_OBSTETRICS','POS_DIST_PED_ICU',
                          'CDCP_KIDNEY_DISEASE_ADULT_C','POS_DIST_TRAUMA','POS_DIST_CLINIC','POS_DIST_ALC',
                          'ACS_PCT_PVT_EMPL_DRCT_BELOW64','CDCP_CHOLES_SCR_ADULT_C','ACS_PCT_PRIVATE_EMPL','CDCP_DOCTOR_VISIT_ADULT_C'


]]

In [18]:
df.shape

(41073, 24)

In [19]:
df2 = df.dropna(how='any')

In [20]:
df2.isna().sum()

ZIPCODE                          0
ACS_PCT_UNINSURED                0
ACS_PCT_UNINSURED_BELOW64        0
ACS_PCT_MEDICAID_ANY             0
CDCP_ASTHMA_ADULT_C              0
ACS_PCT_MEDICAID_ANY_BELOW64     0
CDCP_NO_PHY_ACTV_ADULT_C         0
ACS_PCT_MEDICARE_ONLY            0
CDCP_PULMONARY_ADULT_C           0
CDCP_BLOOD_MED_ADULT_C           0
CDCP_CHOLES_ADULT_C              0
CDCP_ARTHRITIS_ADULT_C           0
POS_DIST_ED                      0
POS_DIST_MEDSURG_ICU             0
POS_DIST_OBSTETRICS              0
POS_DIST_PED_ICU                 0
CDCP_KIDNEY_DISEASE_ADULT_C      0
POS_DIST_TRAUMA                  0
POS_DIST_CLINIC                  0
POS_DIST_ALC                     0
ACS_PCT_PVT_EMPL_DRCT_BELOW64    0
CDCP_CHOLES_SCR_ADULT_C          0
ACS_PCT_PRIVATE_EMPL             0
CDCP_DOCTOR_VISIT_ADULT_C        0
dtype: int64

In [21]:
df2.isna().sum().sum()

0

In [22]:
df2.head()

,ZIPCODE,ACS_PCT_UNINSURED,ACS_PCT_UNINSURED_BELOW64,ACS_PCT_MEDICAID_ANY,CDCP_ASTHMA_ADULT_C,ACS_PCT_MEDICAID_ANY_BELOW64,CDCP_NO_PHY_ACTV_ADULT_C,ACS_PCT_MEDICARE_ONLY,CDCP_PULMONARY_ADULT_C,CDCP_BLOOD_MED_ADULT_C,...,POS_DIST_OBSTETRICS,POS_DIST_PED_ICU,CDCP_KIDNEY_DISEASE_ADULT_C,POS_DIST_TRAUMA,POS_DIST_CLINIC,POS_DIST_ALC,ACS_PCT_PVT_EMPL_DRCT_BELOW64,CDCP_CHOLES_SCR_ADULT_C,ACS_PCT_PRIVATE_EMPL,CDCP_DOCTOR_VISIT_ADULT_C
249,01001,3.72,4.77,17.02,10.4,21.08,26.6,4.19,6.9,77.9,...,3.38,3.52,3.0,3.52,2.76,3.38,2.46,91.8,45.69,80.7
250,01059,2.74,3.12,14.47,11.1,16.01,25.8,2.33,5.0,64.2,...,9.24,21.06,2.2,21.06,2.86,12.85,4.24,83.1,52.93,76.9
251,01002,2.74,3.12,14.47,11.1,16.01,25.8,2.33,5.0,64.2,...,7.78,18.13,2.2,18.13,0.40,13.41,4.24,83.1,52.93,76.9
252,01004,2.74,3.12,14.47,11.1,16.01,25.8,2.33,5.0,64.2,...,7.05,17.89,2.2,17.89,0.51,13.03,4.24,83.1,52.93,76.9
253,01003,3.85,3.85,7.82,14.4,7.82,30.0,0.13,3.3,17.7,...,7.61,18.96,1.1,18.96,0.91,14.07,2.43,65.2,66.85,70.9

In [23]:
health_df = df2.copy()

In [24]:
# creates a dictionary for each column and their respective values for quantiles from 10% to 90%

percentile_dict = {}
for column in health_df.columns[1:]:
    percentile_dict[column] = {
        '10': health_df[column].quantile(0.1),
        '20': health_df[column].quantile(0.2),
        '30': health_df[column].quantile(0.3),
        '40': health_df[column].quantile(0.4),
        '50': health_df[column].quantile(0.5),
        '60': health_df[column].quantile(0.6),
        '70': health_df[column].quantile(0.7),
        '80': health_df[column].quantile(0.8),
        '90': health_df[column].quantile(0.9)
    }

In [25]:
percentile_df = health_df.copy()

In [26]:
percentile_df.dtypes

ZIPCODE                           string
ACS_PCT_UNINSURED                float64
ACS_PCT_UNINSURED_BELOW64        float64
ACS_PCT_MEDICAID_ANY             float64
CDCP_ASTHMA_ADULT_C              float64
ACS_PCT_MEDICAID_ANY_BELOW64     float64
CDCP_NO_PHY_ACTV_ADULT_C         float64
ACS_PCT_MEDICARE_ONLY            float64
CDCP_PULMONARY_ADULT_C           float64
CDCP_BLOOD_MED_ADULT_C           float64
CDCP_CHOLES_ADULT_C              float64
CDCP_ARTHRITIS_ADULT_C           float64
POS_DIST_ED                      float64
POS_DIST_MEDSURG_ICU             float64
POS_DIST_OBSTETRICS              float64
POS_DIST_PED_ICU                 float64
CDCP_KIDNEY_DISEASE_ADULT_C      float64
POS_DIST_TRAUMA                  float64
POS_DIST_CLINIC                  float64
POS_DIST_ALC                     float64
ACS_PCT_PVT_EMPL_DRCT_BELOW64    float64
CDCP_CHOLES_SCR_ADULT_C          float64
ACS_PCT_PRIVATE_EMPL             float64
CDCP_DOCTOR_VISIT_ADULT_C        float64
dtype: object

In [27]:
## currently gives a score from 1 to 10 depending on the percentile bin they fall into for each column
# currently just ignores columns with repeat percentile values
## this likely means they are all close together (lots of 0 values, for example), might be okay to omit
### could also build logic to drop some labels based on the number of 0s in the bins? would need to scale...

# TODO: decide which columns should get reverse scoring, lower numbers should equal higher score
## in this example, percentage of children in 1 parent households should mean lower score for higher values

list_of_descending =  ['ACS_PCT_UNINSURED','ACS_PCT_UNINSURED_BELOW64','ACS_PCT_MEDICAID_ANY','CDCP_ASTHMA_ADULT_C',
                       'ACS_PCT_MEDICAID_ANY_BELOW64','CDCP_NO_PHY_ACTV_ADULT_C','ACS_PCT_MEDICARE_ONLY',
                       'CDCP_PULMONARY_ADULT_C','CDCP_BLOOD_MED_ADULT_C','CDCP_CHOLES_ADULT_C','CDCP_ARTHRITIS_ADULT_C',
                       'POS_DIST_ED','POS_DIST_MEDSURG_ICU','POS_DIST_OBSTETRICS','POS_DIST_PED_ICU',
                       'CDCP_KIDNEY_DISEASE_ADULT_C','POS_DIST_TRAUMA','POS_DIST_CLINIC','POS_DIST_ALC']

for column in health_df.columns[1:]:
    bins = [percentile_dict[column].get(bin) for bin in percentile_dict[column]]
    if len(bins) != len(set(bins)):
        bins = [x for x in bins if x != 0]
        num_bins = len(bins) + 1
        bin_size = 10 / num_bins
        labels = [x * bin_size for x in range(1, num_bins + 1)]
    else:
        labels = [1,2,3,4,5,6,7,8,9,10]
    bins.insert(10, float('inf'))
    bins.insert(0, -float('inf'))
    labels.reverse()
    if column in list_of_descending:
        labels.reverse()
    percentile_df[column] = pd.cut(percentile_df[column], bins=bins, labels=labels)

In [28]:
percentile_df.head(10)

,ZIPCODE,ACS_PCT_UNINSURED,ACS_PCT_UNINSURED_BELOW64,ACS_PCT_MEDICAID_ANY,CDCP_ASTHMA_ADULT_C,ACS_PCT_MEDICAID_ANY_BELOW64,CDCP_NO_PHY_ACTV_ADULT_C,ACS_PCT_MEDICARE_ONLY,CDCP_PULMONARY_ADULT_C,CDCP_BLOOD_MED_ADULT_C,...,POS_DIST_OBSTETRICS,POS_DIST_PED_ICU,CDCP_KIDNEY_DISEASE_ADULT_C,POS_DIST_TRAUMA,POS_DIST_CLINIC,POS_DIST_ALC,ACS_PCT_PVT_EMPL_DRCT_BELOW64,CDCP_CHOLES_SCR_ADULT_C,ACS_PCT_PRIVATE_EMPL,CDCP_DOCTOR_VISIT_ADULT_C
249,01001,3,3,6,7,7,4,4,4,8,...,3,2,5,2,4,3,2,2,5,2
250,01059,2,2,5,9,5,4,1,2,1,...,6,5,1,7,5,5,1,10,3,5
251,01002,2,2,5,9,5,4,1,2,1,...,5,4,1,7,1,6,1,10,3,5
252,01004,2,2,5,9,5,4,1,2,1,...,5,4,1,6,2,6,1,10,3,5
253,01003,3,2,3,10,2,6,1,1,1,...,5,4,1,7,2,6,2,10,1,9
254,01005,1,1,2,8,2,4,5,3,5,...,8,7,2,7,9,4,6,3,1,2
255,01007,1,1,3,5,3,3,3,2,3,...,6,4,1,6,8,4,7,2,1,3
256,01008,5,5,2,8,2,4,3,4,6,...,9,4,3,7,6,6,2,2,3,3
257,01009,9,9,5,9,5,4,1,4,4,...,5,4,3,6,10,2,10,5,3,4
258,01010,2,2,7,8,7,4,8,4,6,...,6,5,3,7,8,4,6,2,4,2

In [29]:
percentile_df.dtypes

ZIPCODE                            string
ACS_PCT_UNINSURED                category
ACS_PCT_UNINSURED_BELOW64        category
ACS_PCT_MEDICAID_ANY             category
CDCP_ASTHMA_ADULT_C              category
ACS_PCT_MEDICAID_ANY_BELOW64     category
CDCP_NO_PHY_ACTV_ADULT_C         category
ACS_PCT_MEDICARE_ONLY            category
CDCP_PULMONARY_ADULT_C           category
CDCP_BLOOD_MED_ADULT_C           category
CDCP_CHOLES_ADULT_C              category
CDCP_ARTHRITIS_ADULT_C           category
POS_DIST_ED                      category
POS_DIST_MEDSURG_ICU             category
POS_DIST_OBSTETRICS              category
POS_DIST_PED_ICU                 category
CDCP_KIDNEY_DISEASE_ADULT_C      category
POS_DIST_TRAUMA                  category
POS_DIST_CLINIC                  category
POS_DIST_ALC                     category
ACS_PCT_PVT_EMPL_DRCT_BELOW64    category
CDCP_CHOLES_SCR_ADULT_C          category
ACS_PCT_PRIVATE_EMPL             category
CDCP_DOCTOR_VISIT_ADULT_C        category
dtype: object

In [30]:
for column in percentile_df.columns[1:]:
    percentile_df[column] = pd.to_numeric(percentile_df[column])

In [31]:
percentile_df.dtypes

ZIPCODE                          string
ACS_PCT_UNINSURED                 int64
ACS_PCT_UNINSURED_BELOW64         int64
ACS_PCT_MEDICAID_ANY              int64
CDCP_ASTHMA_ADULT_C               int64
ACS_PCT_MEDICAID_ANY_BELOW64      int64
CDCP_NO_PHY_ACTV_ADULT_C          int64
ACS_PCT_MEDICARE_ONLY             int64
CDCP_PULMONARY_ADULT_C            int64
CDCP_BLOOD_MED_ADULT_C            int64
CDCP_CHOLES_ADULT_C               int64
CDCP_ARTHRITIS_ADULT_C            int64
POS_DIST_ED                       int64
POS_DIST_MEDSURG_ICU              int64
POS_DIST_OBSTETRICS               int64
POS_DIST_PED_ICU                  int64
CDCP_KIDNEY_DISEASE_ADULT_C       int64
POS_DIST_TRAUMA                   int64
POS_DIST_CLINIC                   int64
POS_DIST_ALC                      int64
ACS_PCT_PVT_EMPL_DRCT_BELOW64     int64
CDCP_CHOLES_SCR_ADULT_C           int64
ACS_PCT_PRIVATE_EMPL              int64
CDCP_DOCTOR_VISIT_ADULT_C         int64
dtype: object

In [21]:
#percentile_df.to_csv('individual_housing_scores.csv')

In [32]:
sum_columns = list(percentile_df.select_dtypes('number').columns)

In [33]:
percentile_df['Health_mean'] = percentile_df[sum_columns].mean(axis = 1)

In [37]:
#percentile_df.drop(['Health_Total'], axis=1, inplace = True )

In [34]:
total_df = percentile_df.copy()

total_df

,ZIPCODE,ACS_PCT_UNINSURED,ACS_PCT_UNINSURED_BELOW64,ACS_PCT_MEDICAID_ANY,CDCP_ASTHMA_ADULT_C,ACS_PCT_MEDICAID_ANY_BELOW64,CDCP_NO_PHY_ACTV_ADULT_C,ACS_PCT_MEDICARE_ONLY,CDCP_PULMONARY_ADULT_C,CDCP_BLOOD_MED_ADULT_C,...,POS_DIST_PED_ICU,CDCP_KIDNEY_DISEASE_ADULT_C,POS_DIST_TRAUMA,POS_DIST_CLINIC,POS_DIST_ALC,ACS_PCT_PVT_EMPL_DRCT_BELOW64,CDCP_CHOLES_SCR_ADULT_C,ACS_PCT_PRIVATE_EMPL,CDCP_DOCTOR_VISIT_ADULT_C,Health_mean
249,01001,3,3,6,7,7,4,4,4,8,...,2,5,2,4,3,2,2,5,2,4.130435
250,01059,2,2,5,9,5,4,1,2,1,...,5,1,7,5,5,1,10,3,5,4.086957
251,01002,2,2,5,9,5,4,1,2,1,...,4,1,7,1,6,1,10,3,5,3.826087
252,01004,2,2,5,9,5,4,1,2,1,...,4,1,6,2,6,1,10,3,5,3.782609
253,01003,3,2,3,10,2,6,1,1,1,...,4,1,7,2,6,2,10,1,9,3.913043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41050,99832,1,1,1,5,1,3,10,5,2,...,10,5,10,10,10,10,7,4,10,6.304348
41051,99825,1,1,1,5,1,3,10,5,2,...,10,5,10,10,10,10,7,4,10,6.304348
41052,99826,5,5,5,5,5,3,7,6,3,...,10,5,10,10,10,4,4,6,10,6.782609
41053,99827,9,9,9,4,9,2,7,4,3,...,10,5,10,10,10,2,4,10,9,7.217391
41059,99840,10,9,3,4,3,1,2,2,1,...,10,1,10,1,10,7,8,5,10,5.695652

one = total_df['Health_Total'].quantile(0.2)
two = total_df['Health_Total'].quantile(0.4)
three = total_df['Health_Total'].quantile(0.6)
four = total_df['Health_Total'].quantile(0.8)

bins = [0.0, one, two, three, four, float('inf')]
labels = [1,2,3,4,5]

total_df['Health_Score'] = pd.cut(total_df['Health_Total'], bins=bins, labels=labels)

total_df

In [35]:
final_df = demographic.merge(total_df, how='left', left_on = 'postal_code', right_on = 'ZIPCODE')
final_df = final_df.drop(['ZIPCODE'],axis=1)

In [36]:
final_df.sample(10)

,udp_global_id,client_id,age,gender,marital_status,is_union,primary_language_code,country_description,county,state,...,POS_DIST_PED_ICU,CDCP_KIDNEY_DISEASE_ADULT_C,POS_DIST_TRAUMA,POS_DIST_CLINIC,POS_DIST_ALC,ACS_PCT_PVT_EMPL_DRCT_BELOW64,CDCP_CHOLES_SCR_ADULT_C,ACS_PCT_PRIVATE_EMPL,CDCP_DOCTOR_VISIT_ADULT_C,Health_mean
180496,58a38e6d985bac2dbe8a253d,3349,72.0,F,M,N,NaN,United States of America,NaN,AZ,...,4.0,8.0,6.0,4.0,5.0,3.0,1.0,4.0,1.0,4.260870
251707,58a38f6f6125be3674d532e7,3349,79.0,M,M,N,NaN,United States of America,NaN,IL,...,1.0,4.0,5.0,1.0,6.0,3.0,9.0,5.0,8.0,4.782609
3020,58a38fb16125be3674d55d59,3349,72.0,F,M,N,NaN,United States of America,NaN,GA,...,5.0,1.0,3.0,8.0,5.0,2.0,1.0,1.0,7.0,2.608696
92727,58a39a637f8f0502c982617d,3349,66.0,M,S,N,NaN,United States of America,NaN,CA,...,1.0,1.0,5.0,4.0,2.0,2.0,2.0,2.0,8.0,2.608696
259233,58a399416125be3674d612e6,3349,64.0,F,S,N,AE,United States of America,NaN,GA,...,3.0,5.0,4.0,2.0,5.0,4.0,2.0,4.0,4.0,4.217391
227354,58a38ebc7f8f0502c9809165,3349,84.0,F,M,N,NaN,United States of America,NaN,MO,...,3.0,2.0,2.0,5.0,3.0,3.0,4.0,1.0,4.0,3.391304
246114,58a38dd9985bac2dbe89a94b,3349,69.0,M,S,N,AE,United States of America,NaN,TN,...,4.0,1.0,6.0,8.0,2.0,4.0,3.0,2.0,5.0,3.434783
258933,5d15df9d69b312740c2ffaa1,3349,54.0,F,S,N,NaN,United States of America,NaN,NY,...,1.0,1.0,2.0,1.0,1.0,4.0,2.0,1.0,7.0,1.695652
72523,58a39914985bac2dbe8bcde0,3349,77.0,M,M,N,AE,United States of America,NaN,GA,...,5.0,5.0,10.0,8.0,5.0,5.0,7.0,4.0,7.0,6.000000
295092,58a39ad9042fec2f0719b658,3349,66.0,M,M,N,NaN,United States of America,NaN,OR,...,8.0,10.0,10.0,10.0,10.0,3.0,5.0,9.0,7.0,7.826087

In [37]:
asc_scores_df = pd.Series([value for value in list(total_df.columns[1:]) if value not in list_of_descending], name="ASCENDING_SCORES").to_frame()
desc_scores_df = pd.Series(list_of_descending, name="DESCENDING_SCORES").to_frame()

In [38]:
with pd.ExcelWriter('ATT_Health_Score_Test6.xlsx') as writer:  
    final_df.to_excel(writer, sheet_name='Scores', index=False)
    asc_scores_df.to_excel(writer, sheet_name='Ascending', index=False)
    desc_scores_df.to_excel(writer, sheet_name='Descending', index=False)

In [84]:
final_df.to_csv('ATT_Health_Score_Test2.csv')

In [ ]:
health

In [44]:
final_df.shape

(348950, 60)